.privacidad-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 0 20px;
    font-family: 'Lora', serif;
    color: #000;
    background-color: #fff;
    line-height: 1.7;
}

.privacidad-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.privacidad-container h2 {
    font-size: 1.3rem;
    margin-top: 30px;
    color: #000;
    font-weight: bold;
}

.privacidad-container p {
    margin: 10px 0;
    color: #111;
}
